<%- include("header") -%> 
<!--banner-->
<div class="hero-about">
  <div class="row">
    <div class="col-md-6 about-hero-text">
        <h1>
          Welcome to Lower Gwelo Adventist High School. 
          <span class="hide-sm">
            We are a Seventh-day
            Adventist school based in Gweru offering Ordinary Level & Advanced Level
            studies.
          </span>
        </h1>
        <p>Here's what you need to know about Lower Gwelo High School</p>
        <div class="circle-sda-logo">
          <img src="images/sda-logo.png" alt="sda logo" >
        </div>
      </div>
    <div class="col-md-6 about-hero-img">
      <img src="images/about.jpeg" alt="about hero image" class="about-img">
    </div>
  </div>
  <div class="container-fluid">
    <div aria-label="breadcrumb " class="breadcrumbs">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item at" aria-current="page">About Us</li>
      </ol>
  </div>
  </div>
</div>

<!--content-->
<main style="margin-top: 30px ;">
  
    <input id="tab1" type="radio" name="tabs" checked class="hidden">
    <label for="tab1">History</label>
      
    <input id="tab2" type="radio" name="tabs" class="hidden">
    <label for="tab2">Principal</label>
      
    <input id="tab3" type="radio" name="tabs" class="hidden">
    <label for="tab3">Staff</label>
      
    <section id="content1" class="tab-content">
      <p class="tab-p">
        Lower Gwelo Mission was established in 1902 as a mission center to teach 
        African boys and girls various skills such as capentry, sewing and agriculture.
        The school started as a primary school and by 19__ it became a teacher training 
        college with an enrollment of around 150 learners.
      </p>
      <p class="tab-p">
        In 1972 it expanded up to O' level with a wide curriculum which included academic
        as well as technical subjects. In 19__ the teacher training college was closed and 
        relocated to Mkoba teacher's college.
      </p>
      <p class="tab-p">
          In 1992 Lower Gwelo Mission became an A'Level centre becoming the 3rd school in 
          Gweru District to offer A'Level.
      </p>
    </section>
      
    <section id="content2" class="tab-content">
      <p class="tab-p">
        
      </p>
      
    </section>
      
    <section id="content3" class="tab-content">
      
    </section>
  </main>


<%- include("footer") -%> 