<section class="banner">
    <div class="container-fluid">
        <div class="breadcrumbs">
            <h3>Welcome, Admin</h3>
        </div>
        <div class="overlay"></div>
    </div>
</section>