<div class="side-nav">
    <h6>Menu</h6>
    <ul>
        <li><a href="/admin/announcements" class="active">
            <i class="fa-solid fa-caret-right"></i> Announcements
        </a></li>
        <li><a href="/admin/create-announcement">
            <i class="fa-solid fa-caret-right"></i> Create new announcement
        </a></li>
    </ul>
</div>