<%- include("header") -%> 

<section class="contact-section">
        <div class="contact-info">
            <h4 class="contact-heading">Get in touch</h4>
                <form action="" method="post">
                    <input type="text" name="subject" required placeholder="Subject">
                    <input type="email" name="email" required placeholder="Email">
                    <textarea name="message" cols="30" rows="5">Message</textarea>
                    <button type="submit">
                        <i class="fa fa-envelope"></i>
                        Send
                    </button>
                </form>
        </div>
    <div class="navy-gradient"></div>
   
</section>

<section class="contact-circle">
    <div class="contact-details">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-item">
                        <div class="rounded">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <p>
                            Lower Gwelo High School <br>
                           <span class="address-hidden">
                                P-Bag 9002 <br>
                                Gweru
                            </span> 
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-item">
                        <div class="rounded">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <p>
                            0774123789
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-item">
                        <div class="rounded">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <p>
                           lowergwelohighschool@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-item">
                        <div class="rounded">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                        <p>
                            logahs.ac.zw
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer") -%> 