<%- include("header") -%> 
<!--banner-->
<section class="banner banner-enrollment">
    <div class="container-fluid">
        <div aria-label="breadcrumb " class="breadcrumbs">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item at" aria-current="page">Enrollment</li>
            </ol>
        </div>
        <div class="overlay"></div>
    </div>
</section>

<!--content-->
<main>
  
    <input id="tab1" type="radio" name="tabs" checked class="hidden">
    <label for="tab1">Enrollment Details</label>
      
    <input id="tab2" type="radio" name="tabs" class="hidden">
    <label for="tab2">Application</label>
      
    <section id="content1" class="tab-content">
      The school offers classes from ECD to advanced level. The primary school has a total enrollment of 770 learners. The secondary school has a total enrollment of 850 students of which 500 are boarders, 300 girls and 200 boys. The high school has three streams each from form 1 to form 6.
    </section>
      
    <section id="content2" class="tab-content">
      <p class="tab-p">
        To apply for a place for form 1 go to 
        <a href="http://www.emap.co.zw" style="color: #555; text-decoration: underline !important;">
            www.emap.co.zw</a>.
      </p>
      
    </section>
  </main>

<%- include("footer") -%>