<%- include("header") -%> 

<!--Facilities-->
<section class="banner banner-facilities">
    <div class="container-fluid">
        <div aria-label="breadcrumb " class="breadcrumbs">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item at" aria-current="page">Facilities</li>
            </ol>
        </div>
        <div class="overlay"></div>
    </div>
</section>

<!--content-->
<main>
  
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Learning Facilities</label>
      
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Boarding Facilities</label>
      
    <section id="content1" class="tab-content">
      <p class="tab-p">
        The school has 3 classes per stream from form 1 to form 4 and an Arts, Commercials
        and Sciences classes for A'Level. The school has the following:
      </p>
      <ul class="list-circle">
        <li>1 School hall</li>
        <li>1 Dining hall</li>
        <li>1 Library</li>
        <li>5 Science libraries</li>
        <li>1 Lecture theatre</li>
        <li>21 Classrooms</li>
        <li>4 Specialist rooms for home economics</li>
        <li>2 Computer labs</li>
        <li>1 Boardroom</li>
        <li>1 Staff room</li>
        <li>1 Basketball court</li>
        <li>1 Volleyball pitch</li>
        <li>2 Soccer pitches</li>
        <li>1 Netball court</li>
        <li>1 Swimming pool (Dysfunctional)</li>
        <li>1 Agric shade</li>
      </ul>
    </section>
      
    <section id="content2" class="tab-content">
      <p class="tab-p">
        Lower Gwelo Adventist high offers boarding facilities to both boys and girls, from form 1 to Upper 6.
      </p>
      
    </section>
  </main>

<%- include("footer") -%> 