
    <footer>
        <div class="footer-top">
            <div class="row">
                <div class="col-md-4">
                    <h6>Contact Details</h6>
                    <p><i class="fa-solid fa-square-phone"></i> 07748895840</p>
                    <p><i class="fa-solid fa-envelope-circle-check"></i> logahs@logahs.edu</p>
                    <p>P Bag 9002 </p>
                    <p>Gweru</p>
                    <p>Zimbabwe</p>
                </div>
                <div class="col-md-4">
                    <h6>Quick Links</h6>
                    <ul>
                        <li>
                            <a href="#"><i class="fa-solid fa-caret-right"></i> Church</a>
                        </li>
                        <li>
                            <a href="/clubs"><i class="fa-solid fa-caret-right"></i> Club & Sports</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-caret-right"></i> Announcements</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-caret-right"></i> News & Events</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-caret-right"></i> Accounts</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-caret-right"></i> School Calendar</a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <h6>Social Media</h6>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-facebook fb"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-instagram insta"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-youtube youtube"></i> Youtube
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa-brands fa-twitter twitter"></i> Twitter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <hr>
        <div class="footer-bottom">
            <p>&copy; <span class="date"></span> Logahs. All rights reserved.</p>
        </div>
    </footer>
    <script src="js/lightbox-plus-jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>